---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<div class="row">
  <div class="col-md-6 col-lg-8">
    <h1>Hello 👋</h1>
    <p class="lead">
      Welcome, one and all, to my blog created for the sole purpose of documenting my learnings while enrolled on the 
      digital skills bootcamp, provided by the folks at <a href="https://thecodersguild.org.uk">The Coders Guild</a>.
    </p>
    <p>This bootcamp covered a range of topics, which included:</p>
    <ul>
      <li>Accessibility</li>
      <li>Content Management Systems</li>
      <li>Frameworks</li>
      <li>Programming with JavaScript</li>
      <li>Source control with Git and GitHub</li>
      <li>Static Site Generators</li>
    </ul>
    <p>
      Check out <a href="/posts">the archive</a> to read all about the topics listed above, 
      and don’t forget to visit the <a href="/about">about me</a> page to learn more about the author of this blog.
    </p>
  </div>
  <div class="col">
    <div class="bg-light p-2">
      {% set maxPosts = collections.posts.length | min(3) %}
      <h3>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h3>

      {% set postslist = collections.posts | head(-3) %}
      {% set postslistCounter = collections.posts | length %}
      {% include "postslist.njk" %}

      <p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
    </div>
  </div>
</div>


